In [1]:
import os

In [2]:
from torch_geometric.datasets import MovieLens100K

In [3]:
path = '../../data/raw/ml-100k'
dataset = MovieLens100K(path)
data = dataset[0]
print(data)

HeteroData(
  movie={ x=[1682, 18] },
  user={ x=[943, 24] },
  (user, rates, movie)={
    edge_index=[2, 80000],
    rating=[80000],
    time=[80000],
    edge_label_index=[2, 20000],
    edge_label=[20000],
  },
  (movie, rated_by, user)={
    edge_index=[2, 80000],
    rating=[80000],
    time=[80000],
  }
)

In [4]:
dataset.raw_paths

['../../data/raw/ml-100k/raw/u.item',
 '../../data/raw/ml-100k/raw/u.user',
 '../../data/raw/ml-100k/raw/u1.base',
 '../../data/raw/ml-100k/raw/u1.test']

In [5]:
from torch_geometric.data import (
    HeteroData,
    InMemoryDataset,
    download_url,
    extract_zip,
)

In [6]:
import pandas as pd

In [7]:
data = HeteroData()

In [8]:
MOVIE_HEADERS = [
    "movieId", "title", "releaseDate", "videoReleaseDate", "IMDb URL",
    "unknown", "Action", "Adventure", "Animation", "Children's", "Comedy",
    "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror",
    "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"
]
USER_HEADERS = ["userId", "age", "gender", "occupation", "zipCode"]
RATING_HEADERS = ["userId", "movieId", "rating", "timestamp"]

In [9]:
df = pd.read_csv(
    '../../data/raw/ml-100k/raw/u.user',
    sep='|',
    header=None,
    names=USER_HEADERS,
    index_col='userId',
    encoding='ISO-8859-1',
)

In [10]:
df

        age gender     occupation zipCode
userId
1        24      M     technician   85711
2        53      F          other   94043
3        23      M         writer   32067
4        24      M     technician   43537
5        33      F          other   15213
...     ...    ...            ...     ...
939      26      F        student   33319
940      32      M  administrator   02215
941      20      M        student   97229
942      48      F      librarian   78209
943      22      M        student   77841

[943 rows x 4 columns]

In [11]:
movie_df = pd.read_csv(
    '../../data/raw/ml-100k/raw/u.item',
    sep='|',
    header=None,
    names=MOVIE_HEADERS,
    index_col='movieId',
    encoding='ISO-8859-1',
)

In [12]:
movie_df

,title,releaseDate,videoReleaseDate,IMDb URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
a=df['age'].unique()

In [19]:
a.sort()

In [24]:
df['age'].drop_duplicates().sort_values()

userId
30      7
471    10
289    11
142    13
206    14
       ..
211    66
349    68
559    69
767    70
481    73
Name: age, Length: 61, dtype: int64

In [ ]:
movie_df